@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei UI", sans-serif;
}

body {
	font-size: 16px;
	background: #ddd;
}

header {
	top: 0;
	z-index: 100;
	width: 100%;
	height: 3rem;
	color: white;
	background: black;
}

header img {
	float: left;
	width: 10rem;
	height: 3rem;
	margin-left: 1.5rem;
}

header h1 {
	float: left;
	line-height: 1.5;
}

header nav {
	float: right;
	line-height: 3;
}

header li {
	float: left;
	margin-right: 1.75rem;
}

header a {
	z-index: -1;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header a:link {
	color: white;
}

header a:visited {
	color: lightgray;
}

header a:focus {
	color: paleturquoise;
}

header a:hover {
	color: aqua;
}

header a:active {
	color: deepskyblue;
}

article {
	margin: 1.2rem;
	padding: 1rem 1rem 1.75rem 1rem;
	background: white;
	border: .1rem solid lightgray;
	box-shadow: .1rem .1rem gray;
}

.subtitle {
	margin-top: .5rem;
	color: gray;
}

.author_time {
	margin-top: .5rem;
	color: darkgray;
}

.para {
	margin-top: 1rem;
	line-height: 1.5rem;
	text-indent: 2rem;
}

.img {
	margin-top: 1rem;
}

article li {
	margin-top: 1rem;
	margin-left: 2rem;
}

#art_2 li {
	list-style: none;
}

#art_4 li {
	margin-left: 3.5rem;
}

article figure {
	width: 14rem;
	margin: 1.5rem 3rem;
	border: .1rem solid lightgray;
}

article figcaption {
	margin: .5rem 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

figure img {
	margin: 1rem;
}

article table {
	width: 100%;
	margin-top: 1rem;
	background: lightgray;
}

article tr {
	line-height: 1.5rem;
}

article th,
article td {
	padding-left: 0.5rem;
}

article thead {
	color: white;
	text-align: left;
	background: black;
}

article tbody {
	background: white;
}

article tfoot {
	font-weight: bold;
	background: lightgray;
}

aside {
	margin: 2rem 1.8rem 1.5rem 1.2rem;
	padding: 1rem;
	background: white;
	border: .1rem solid lightgray;
	box-shadow: .1rem .1rem gray;
}

aside table {
	width: 90%;
	table-layout: fixed;
}

aside tr {
	line-height: 2.5rem;
}

aside th {
	width: 40%;
	text-align: right;
	vertical-align: top;
}

.reg_tips {
	color: lightgray;
}

aside textarea {
	width: 100%;
}

#reg_submit {
	width: 100%;
	height: 2.5rem;
	margin: 1rem 0;
	font-size: 1.2rem;
	color: white;
	background: mediumblue;
	border: 0;
	border-radius: 0.5rem;
}

footer {
	bottom: 0;
	z-index: 100;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	color: white;
	text-align: center;
	background: black;
}